@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";
body {
  font-family: "Inter", sans-serif;
  background: #111111;
  color: #ffffff;
}